<app-player *ngFor="let player of game.players; let i = index" [ngStyle]="{'top.px': 100 + (i * 90)}" [name]="player"
    [playerActiv]="i == game.currentPlayer" class="player-box"></app-player>
<div class="game-background">
    <div class="card-stack-container">

        <!--card stack-->
        <img *ngFor="let c of [0, 1, 2, 3]; let i = index;" [ngStyle]="{'right.px': i * 5}" class="card-stack"
            src="./../../assets/image/cards/card_cover.png" alt="cardStack">

        <!--card top of stack-->
        <img (click)="takeCard()" class="top-card" style="right: 25px;" src="./../../assets/image/cards/card_cover.png"
            alt="cardStack">

        <!--played card stack-->
        <img *ngFor="let card of game.playedCards" class="played-card own-card"
            src="./../../assets/image/cards/{{ card }}.png" alt="cardStack">

        <!--new played card-->
        <img (click)="takeCard()" *ngIf="pickCardAnimation" class="own-card pick-card" style="right: 25px;"
            src="./../../assets/image/cards/{{ currentCard }}.png" alt="cardStack">

    </div>
</div>
<button class="add-player-button" (click)="openDialog()" mat-fab color="primary">
    <mat-icon>add</mat-icon>
</button>